page-page1 {
    .card-background-page {
        ion-card {
            position: relative;
            text-align: center;
        }
        .card-temperature {
            position: absolute;
            top: 12%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: #fff;
        }
         .card-title {
            position: absolute;
            top: 23%;
            font-size: 2.0em;
            width: 100%;
            color: #fff;
        }
        .card-subtitle {
            font-size: 1.5em;
            position: absolute;
            top: 35%;
            width: 100%;
            color: #fff;
        }
        
    }
}
